@import url('https://fonts.googleapis.com/css?family=Comfortaa|Poiret+One|Raleway|Ubuntu+Mono&display=swap');
html{
    scroll-behavior: smooth;
  }
  .overlay{
      padding-top: 250px;
      
  }
  .home{
    background-image: url('../images/assets/backgrounds/h_img.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-family: serif;
    
    
         
  }
  .home h1{
      margin: 5px;
      padding: 3px;

  }
  .home p{
      padding: 2px;
  }
  .mouse-click{
      margin-top: 350px;
      padding-bottom: 90px;
      /* animation-iteration-count: infinite; */
      
  }
  #bounce {
      animation: bounce 4s infinite;
  }

  @keyframes bounce {
   
        0%, 25%, 50%, 75%, 100% {
            transform: translateY(0);
        }
        45% {
            transform: translateY(-55px);
        }
        70% {
            transform: translateY(-45px);
        }
    }

  .about {
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding-bottom: 35px;
  }
  
  .about h2{
      color: black;
  }
  .about p{
      color: black;
  }
  .delani-services {
text-align: center;
color: white;
font-family: 'copse', serif;
font-size: 19px;
background-image: url("../images/assets/backgrounds/s_image.jpg");
background-position: center;
background-size: cover;
width: 1920px;
height: 488px;
}
.services{
    padding-top: 160px;
}
.our-work{
    align-items: center;
    align-self: center;
    align-content: center;
}
.our-work h1{
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    color: black;
}
figcaption{
    margin-top: 7px;
    color: black;
}
.row{
    text-align: center;
    margin-left: 200px;
    
    
}
.row p{
    color: black;
}
#portfolio{
    margin-left: 10%;
    margin-right: 8%;
    flex-wrap: wrap;
    display: flex;

}
.portfolio h1{
    text-align: center;
    font-family: serif;
    padding-top: 1px;
    color: black;
}
.contacts{
    background-image: url('../images/assets/backgrounds/c_image.jpg');
    font-family: sans-serif;
    background-position: cover;
    background-repeat: no-repeat;
    color: white;

}
.contacts h1{
    font-family: sans-serif;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 15px;
    margin-top: 25px;
}
.contacts-overlay{
    background-color: rgba(red, green, blue, alpha);
}
.form-control{
    color: white;
    background-color: #66000000;
    
    
}
.social{
    text-align: center;
    
}  
footer p{
    text-align: center;
    margin-top: 11px;
    font: 1em sans-serif;
    color: black;
}
button{
    margin-left: 33%;
    margin-bottom: 33px;
    padding-bottom: 23px;
}    
.row input{
    color: white;
}
